body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    background-color:#D3D3D3;
}



/* IDs */




.no-top-margin {
	margin-top: 0px;
}

#awards {
	font-size: 17.5px;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#header {
	padding-top: 80px;
	padding-bottom: 10px;
	text-align: center;
}

#header h1 {
	line-height: .7;
	text-transform: uppercase;
}


#header .container {
	padding: 0px;
}

.header-links {
	padding-top: 15px;
	margin-bottom: 100px;
}
.header-links a {
	color: #000000;
	font-size: 14px;
	font-weight: 400;
}

.profile-img {
	max-width: 140px;
	border: 2px solid #000000;
}

.baseline {
	height: 10px;
}

.list-inline {
	margin: 0px;
}

#footer li {
	margin-left: 20px;
}

.content-section {
	margin-top: 70px;
	margin-bottom: 70px;
}

#about p {
	font-size: 17.5px;
}

.title-card-block {
	padding: 5px;
}

.main-title {
	text-align: center;
	font-weight: 900;
	font-size: 65px;
	margin: 0px;
}

.main-subtitle {
	text-align: center;
	font-weight: 900;
	font-size: 25.5px;
	opacity: .8;
}

.title {
	text-align: center;
	font-weight: 900;
	opacity: .8;
}

.alert {
	margin-top: 25px;
	padding: 5px;
	text-align: center;
}

.card {
	box-shadow: 0px 5px 10px #DDDDDD;
	margin-bottom: 100px;
}

.card:hover {
	box-shadow: 0px 5px 10px 5px #CDCDCD;
}


.cardlink:link {
	text-decoration: none;
}
.cardlink:visited {
	text-decoration: none;
}
.cardlink:hover {
	text-decoration: none;
}
.cardlink:active {
	text-decoration: none;
}



.social-link:link {
	text-decoration: none;
}
.social-link:visited {
	text-decoration: none;
}
.social-link:hover {
	text-decoration: none;
}
.social-link:active {
	text-decoration: none;
}

.social-links {
	text-align: center;
}

.social-link {
	display: inline-block;

	border: 1px solid #FFFFFF;
	margin: 5px;
	width: 102px;
	line-height: 1.5;
	padding: 5px 0px 3px 0px;
	border-radius: 3px;

	font-size: 17px;
	font-weight: 400;

}


@media (max-width: 770px) {
	.main-title {
		font-size: 35px;
	}
	.main-subtitle {
		font-size: 13px;
	}
	.social-links {
		padding-left: 0px;
		padding-right: 0px;
	}
	.social-link {
		font-size: 10px;
		width: 60px;
		margin: 0px;
	}
}


.card-title {
	font-weight: 900;
	margin: 0px;
	text-align: center;
}

.alert {
	margin-top: 0px;
	margin-bottom: 0px;
}

.bg-white {
	color: #333333;
	background-color: #FFFFFF;
}

.bg-peach {
	color: #FFFFFF;
	background: rgba(247,180,126,1);
	background: -moz-linear-gradient(left, rgba(247,180,126,1) 0%, rgba(237,105,106,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247,180,126,1)), color-stop(100%, rgba(237,105,106,1)));
	background: -webkit-linear-gradient(left, rgba(247,180,126,1) 0%, rgba(237,105,106,1) 100%);
	background: -o-linear-gradient(left, rgba(247,180,126,1) 0%, rgba(237,105,106,1) 100%);
	background: -ms-linear-gradient(left, rgba(247,180,126,1) 0%, rgba(237,105,106,1) 100%);
	background: linear-gradient(to right, rgba(247,180,126,1) 0%, rgba(237,105,106,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b47e', endColorstr='#ed696a', GradientType=1 );
}

.bg-grass {
	color: #FFFFFF;

	background: rgba(60,211,173,1);
	background: -moz-linear-gradient(left, rgba(60,211,173,1) 0%, rgba(69,179,130,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,211,173,1)), color-stop(100%, rgba(69,179,130,1)));
	background: -webkit-linear-gradient(left, rgba(60,211,173,1) 0%, rgba(69,179,130,1) 100%);
	background: -o-linear-gradient(left, rgba(60,211,173,1) 0%, rgba(69,179,130,1) 100%);
	background: -ms-linear-gradient(left, rgba(60,211,173,1) 0%, rgba(69,179,130,1) 100%);
	background: linear-gradient(to right, rgba(60,211,173,1) 0%, rgba(69,179,130,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cd3ad', endColorstr='#45b382', GradientType=1 );
	background-color: #00DC60;
}

.bg-ocean {
	color: #FFFFFF;

	background: #1A2980; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #AA0CCE , #8C008C); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #AA0CCE , #8C008C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	        
}

.bg-snow {
	background-color: #FFFFFF;
	color: #FFFFFF;
	border-color: #FFFFFF;
}

.bg-paper {
	background-color: #FCFFFC;
}

.card-block-title {
	padding-bottom: 0px;
}

.card-img-top {
	max-width: 100%;
}

.body-text {
	font-weight: 400;
	font-size: 19px;
	padding: 0px 20px 0px 20px;
}


a:link {
    text-decoration: underline;
    color: #8C008C;
    /*font-size: 1.5rem;*/
}
	.links a:link {
	    text-decoration: none;
	    color: #8C008C;
	    border: 1px solid #8C008C;
	    border-radius: 3px;
	    min-width: 80px;
	    padding: 5px 5px 5px 5px;
	    text-align: center;
		display: block;
	}
a:visited {
    text-decoration: none;
    color: #8C008C;
}
a:hover {
    text-decoration: underline;
}
	.links a:hover {
		color: #FFFFFF;
		background-color: #8C008C;
	    border: 1px solid #8C008C;
	}
a:active {
    text-decoration: underline;
}

.links li {
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}

ul {
	padding: 0px;
}